/* Basic Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Cormorant Garamond", serif;
  color: #000;
  background-color: #f0ead6;
  line-height: 1.5;
}

header,
nav,
footer {
  text-align: center;
  margin: 20px 0;
}

.language-selector {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 10px;
  margin-bottom: 10px;
}

.language-selector img {
  width: 32px;
  height: auto;
  cursor: pointer;
}

nav ul {
  list-style-type: none;
  display: inline-block;
  gap: 1rem;
}

nav li {
  display: inline-block;
  margin: 0 15px;
}

nav a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

.hero {
  text-align: center;
  margin: 40px auto;
}

.hero h1 {
  font-size: 2em;
  margin-bottom: 10px;
}

.hero .wedding-date-place {
  font-size: 0.8em;
  color: #666;
  font-family: "Cantarell", sans-serif;
}

.lang-content {
  max-width: 700px;
  margin: 20px auto;
  display: none;
  padding: 0 15px;
}

h1 {
  letter-spacing: 4px;
  font-weight: 400;
}

h2 {
  font-size: 1.4em;
  font-weight: 400;
  letter-spacing: 2px;
  margin-bottom: 10px;
  margin-top: 40px;
}

p {
  letter-spacing: normal;
  margin-bottom: 1em;
}

.rsvp-button {
  background-color: #333;
  border-radius: 4px;
  color: #fff;
  display: flex;
  font-weight: bold;
  justify-content: center;
  margin: 20px auto;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  width: 200px;
}

.rsvp-button:hover {
  background-color: #555;
}

a {
  color: #8b4513; /* SaddleBrown color */
}

a:hover {
  color: #a0522d; /* Sienna color */
}

footer {
  margin-top: 40px;
  font-size: 0.4em;
  color: #777;
  font-family: 'Cantarell', sans-serif;
  text-transform: uppercase;
}
